node_modules
dist
dist-build
dist-react
dist-universal
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.env.keys
.env*
# Allow .env example files to be committed
!.env*.example
out
out/
.log*
.log
scripts/build-signed.sh
poc*
.keyboard-mcp*
*.keyboard-mcp*